# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DCNv3_torch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
